<div class="page-header">
  <h1>Nodes</h1>
</div>
Folgende Nodes haben Statistiken übermittelt.<p />
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>ID (dezimal)</th>
      <th>Hostname</th>
      <th>Aktiv</th>
      <th>RTT 5 min</th>
      <th>Loss 5 min</th>
      <th>Letzter Datensatz übermittelt</th>
    </tr>
  </thead>
  <tbody>
    <% row = 0 %>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= row+=1  %></td>
        <td><%= link_to "#{node.id}".rjust(15,'0'), node_path(node.id) %></td>
        <td><%= link_to node.name, node_path(node.id) %></td>
        <td> 
          <% if active?(node) %>
            <span class="label label-success">Ja</span>
          <% else %>
            <span class="label label-danger">Nein</span>
          <% end %> 
        <td><%= node.rtt_5_min.round 2 %></td>
        <td><%= node.loss_5_min.round 2 %></td>
          
        <td><%= node.last_submitted_timestamp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_node_path,
            :class => 'btn btn-primary' %>
